@import "tailwindcss";

@theme {
  --color-discord-dark: #313338;
  --color-discord-darker: #2b2d31;
  --color-discord-black: #1e1f22;
  --color-discord-blue: #5865f2;
  --color-discord-green: #23a559;
  --color-discord-red: #f23f43;
  --color-discord-orange: #f08219;
}

body {
  @apply bg-discord-dark text-white antialiased;
  margin: 0;
  font-family: sans-serif;
}